* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Paperlogy';
  font-weight: 500;

}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 헤더 스타일 */
.header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header .container {
  width: 1440px;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-icons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}


.header-icons i {
  font-size: 18px;
  cursor: pointer;
  color: #686868;
}

nav {
  position: relative;
}

nav>ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  position: relative;
  padding: 20px 20px;
  cursor: pointer;
}

nav>ul>li>a {
  position: relative;
  cursor: pointer;
  color: #666;
  font-size: 15px;
}

nav>ul>li>a:hover {
  color: #6ba6ff;
  font-weight: 800;
  transition: 0.3s;
}


/* 서브메뉴 */

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  display: none;
  padding: 30px 50px 30px 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 700px;
  /* 서브메뉴 최소 너비 */
  border-radius: 12px;

}

.has-submenu {
  position: relative;
}

/* PRODUCT hover 시 서브메뉴 표시 */
.has-submenu:hover .submenu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.submenu li {
  padding-right: 10px 20px;
  white-space: nowrap;
}


/* 각 서브 카테고리 정렬 */
.sub-category {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 서브 카테고리 제목 스타일 */
.subTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 17px;
  display: block;
  color: #333;
  text-decoration: none;
}

/* 리스트 스타일 */

.sub-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-category li {
  padding: 7px 0;
}

.sub-category li a {
  position: relative;
  color: #666;
  transition: color 0.3s ease-in-out;
  font-size: 16px;
  text-decoration: none;
}

.sub-category li a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #666;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;

}

.sub-category li a:hover::after {
  width: 100%;
}


/* 슬라이드 스타일 */
.slider-container {
  width: 100%;
  min-width: 1440px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
}

.slide {
  width: 33.3333%;
}


.slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  display: block;
}

/* 슬라이드 버튼 */
.main-prev,
.main-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(126, 184, 231, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 100%;
  outline: none;
}

.main-prev {
  left: 10px;
}

.main-next {
  right: 10px;
}
/*1초회원가입 애니메이션*/
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

.user-icon {
  position: relative;
}

.signup-btn {
  position: absolute;
  top: 100%;
  left: -8%;
  margin-top: 18px;
  transform: translateX(-50%);
  background: #89C1EB;
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 15px;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
  width: auto;
  text-align: center;
  animation: floatUpDown 1s ease-in-out infinite;

}

/* 말풍선 아래 삼각형 */
.signup-btn::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 49%;
  transform: translateX(-50%);
  border-width: 0 5px 8px 5px;
  border-style: solid;
  border-color: transparent transparent #89C1EB transparent;

}


/* 헤더 밑 카테고리 섹션 */
.cateMenuWrap {
  width: 1440px;
  margin: 80px auto 0;
}

.cate-list {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.cate-item {
  width: 180px;
  position: relative;
  text-align: center;
}

.img-box {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  border-radius: 40%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hover-img {
  display: none;
}

.hover-item:hover .static-img {
  display: none;
}

.hover-item:hover .hover-img {
  display: block;
}

.cate-item p {
  margin-top: 18px;
  /* 이미지 아래 고정 간격 */
  font-size: 18px;
  color: #171717;
  position: relative;
}


/* Best Item */

.bestItem {
  min-width: 1440px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.review-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.bestlist {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bestlist ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.bestlist li {
  
  position: relative;
  overflow: visible;
  background-color: #f5f5f5;
  width: 330px;
  height: 580px;
  padding-bottom: 30px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.bestlist li:hover {
  background-color: #e7f3ff;

}

.bestlist li::after {
  content: '';
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0;
  filter: blur(3px);
  transition: opacity 0.3s ease;
  z-index: 0;
}

.bestlist li:hover::after {
  opacity: 1;
}

.bestlist img {
  margin-bottom: auto;
  width: 250px;
  height: 303px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.bestlist li.small-img img {
  width: 200px;
  height: auto;
}

.bestlist li:hover img {
  transform: scale(1.1);

}

.item-info {
  margin-top: 10px;
  text-align: center;
}

.item-name {
  margin-top: 45px;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
}

.item-desc {
  font-size: 16px;
  color: gray;
  margin: 0 0 20px 0;
}

.item-price {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.item-price s {
  margin-left: 8px;
  font-size: 12px;
  color: gray;
}

.discount {
  margin-right: 6px;
  background-color: #89C1EB;
  color: white;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 14px;
}

.hover-icons {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  padding: 15px 20px;
  border-radius: 40px;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
  z-index: 2;
}

.hover-icons i {
  font-size: 20px;
  color: #7bb0ff;
  opacity: 0.8;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hover-icons i:hover,
.hover-icons .lucide-icon:hover {
  transform: scale(1.2);
}

.bestlist li:hover .hover-icons {
  opacity: 1;
}

.icon-divider {
  width: 1px;
  height: 20px;
  background-color: #7bb0ff;
  opacity: 0.8;
  display: inline-block;
}

.lucide-icon {
  color: #7bb0ff;
  opacity: 0.8;
  width: 23px;
  height: 23px;
  cursor: pointer;
  transition: transform 0.2s ease;
  stroke-width: 2;
  /* 선 두께 조절 가능 */
}
/*Md's Pick 섹션 왼쪽*/
.mdWrap {
  width: 100%;
  min-width:1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.md-content {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  
}

.md-slider-container {
  width: 60%; 
  position: relative;
  overflow: hidden;
  
}

.md-slider {
  display: flex;
  transition: transform 0.7s ease-in-out;
  width: 400%;  
  
}

.md-slide {
  width: 25%;
  box-sizing: border-box;
  padding-right: 20px;
}

.md-slide img {
  width: 100%;
  display: block;
}

.md-prev, .md-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 80px;
  background: none;
  color: #fff;
  border: none;
  font-size: 22px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 0;
  z-index: 999;
  line-height: 80px;
  justify-content: center; 
  text-align: center;
  
}

.md-prev {
  left: 10px;
}

.md-next {
  right: 40px;
}

.md-list-container {
  width: 40%;
  padding-right: 20px;
}


.md-product {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  
  
}
.md-product li {
  position: relative;
  overflow: visible;
  background-color: #f5f5f5;   
  padding-bottom: 30px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
}

.md-list {
  
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}



.img-wrapper {
  position: relative;
}


.img-wrapper img {
  width: 170px;
  height: 230px;
  object-fit: contain;
  display: block;
  position: relative;
  transition: transform 0.3s ease;
}
.md-list::after {
  content: '';
  position: absolute;
  top: 320px; 
  left: 50%;
  transform: translateX(-50%);
  width: 65%;  
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 1; 
  filter: blur(3px); 
  transition: opacity 0.3s ease;
  z-index: 999;
}

/* 그림자hover */
.md-list:hover::after {
  opacity: 1;  
}
.md-hover-icons {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  padding: 15px 20px;
  border-radius: 40px;
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
  z-index: 999;
}
.md-hover-icons i {
  font-size: 20px;
  color: #7bb0ff;
  opacity: 0.8;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.md-list:hover {
  background-color: #e7f3ff; 
}
.md-list:hover .md-hover-icons {
  opacity: 1;
}

.md-list:hover img {
  transform: scale(1.1);
}



/* event 섹션 */
/* 기본 섹션 정리 */
.event-section {
  width: 100%;
  overflow: hidden;
}

.review-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* 캐러셀 전체 컨테이너 */
.event-carousel {
  max-width:1200px;
  margin:auto;
  position: relative;
}

/* 슬라이드 트랙 영역 */
.carousel-track-container {
  width:100%;
}

/* 슬라이드 트랙 */
.carousel-track {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 각각의 슬라이드 */
.carousel-slide {
  min-width: 100%;
  padding:0 30px;
  display: flex;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  justify-content: center;
  align-items: center;
}
.carousel-slide.current-slide {
  opacity: 1;
}

.carousel-slide img {
  max-width: 100%;
  height: auto;
}

/* 버튼 스타일 */
.event-prev,
.event-next {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: transparent;
  color:  #82c6f7;
  border: 2px solid  #82c6f7;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.event-prev:hover,
.event-next:hover {
  background-color:  #82c6f7;
  color:#fff;
  
}

.event-prev {
  left: 10px;
}

.event-next {
  right: 10px;
}

/*리뷰 섹션*/
.review-item,
.review-hashtag {
  display: none;
}
.review-item.active {
  display: block;
}

.review-hashtag.active {
  display: inline-block;
}

.review-container {
  width: 1440px;
  width: 100%;
  max-height: 900px;
  height: 100%;
  background-color: #fff;  
  margin: 80px auto;
  padding-bottom: 30px;
  
  

}

.review-title {
  margin: 80px 0;
  font-size: 35px;
  line-height: 70px;
  font-family: 'Paperlogy';
  font-weight: 700;
  color: #333;
  text-align: center;
}

.review-section {
  width: 100%;
  background: linear-gradient(white, #cddff8, white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 40px;


}

.review-images {
  width: 700px;
  height: 450px;
  overflow: hidden;
  border-radius: 35px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.review-slider {
  display: flex;
  width: 300%;
  height:100%;
  transition: transform 0.5s ease-in-out;
}

.review-slide {
  width: 33.3333%;
  height: 100%;
}

.review-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.review-content {
  width: 540px;
  height: 450px;

}

.review-buttons {
  margin-bottom: 20px;
  display: flex;
  padding-top: 50px;

}

.review-buttons button {

  border: none;
  color: rgb(173, 173, 173);
  padding: 12px 18px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Paperlogy';
  font-weight: 700;
  border-radius: 50%;
  transition: 0.3s;
}

.review-buttons button:hover,
.review-buttons button.active {
  background: #707070;
  color: white;
}

.review-item {
  width: 600px;
  height: 337px;
  display: none;
  box-sizing: border-box;
  height: 240px;
  background: #f8f9fa;
  padding: 40px 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.01);
  /*overflow-y: auto;*/
}

.review-item.active {
  display: block;
}

.review-hashtag {
  
  height: 60px;
  margin-bottom: 10px;
  padding: 0 50px;
  border-radius: 20px;
  box-sizing: border-box;
  background: #89c1eb;
  letter-spacing: 0.70px;
  text-align: center;
  color: #fff;
  font-family: 'Paperlogy';
  font-size: 20px;
  font-weight: 700;
  line-height: 62px;
}

.review-hashtag {
  display: none;
}

.review-hashtag.active {
  display: inline-block;
}

.review-stars {
  padding-bottom: 20px;
  color: #89c1eb;

  font-size: 20px;
}

.review-item p {

  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
/*곡선용 footer wrap*/
.footer-curve {
  position: absolute;
  min-width:1440px;
  width: 100%;  
  height: 100px;
  background-color: #fff;  
  border-radius: 0 0 0 999px;
  box-shadow: 5px 5px 5px 1px rgba(197, 225, 241, 0.164);  
  
}

/*footer 섹션*/

.footer {
  min-width:1440px;
  width: 100%;    
  padding: 50px 20px;
  background-color: #EBF5FC;
  margin: 0 auto;
  box-sizing: border-box;   
  
}


.footer-nav .title {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  letter-spacing: -0.45px;  
  white-space: nowrap;
  
}


.footer-nav .nav-list {  
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-nav .nav-list li {
  margin-right: 40px;
  margin-bottom: 8px; 
  font-size: 12px; 
}
.footer-nav .nav-list a {
  text-decoration: none;
  color: #777;
  font-weight: 500;
}

.footer-nav .nav-list a:hover {
  color: #0072c6;
}

.footer-info,
.footer-nav,
.social-media {
  flex: 1;
}
.footer-top p,
.footer-top a {
  font-size: 14px;
  line-height: 1.5;
  word-break: keep-all;
  white-space: normal;
}

.footer-top {
  width:100%;
  align-items: flex-start; 
  
   /* 간격 */
  padding: 150px 0 40px 0;   
  margin-bottom: 40px; 
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
   
}

.footer-logo img {
  max-width: 150px; 
  
  
}

.footer-info {
  flex-grow: 1;
  margin-left: 80px;
  margin-right: 150px;  
}

.footer-info p {
  margin: 5px 0;
  color: #333;
}
.big-number {
  font-size: 20px;
  font-weight: bold; 
  line-height: 30px;
  
}
.footer-nav {  
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: row;
}


.footer-nav ul {
  list-style: none;    
  padding: 0;
}

.footer-bottom {
  
  display: flex;
  justify-content: space-between;
  align-items: center;  
  color: #777;
}
.footer-bottom span {
  
  font-size: 12px;
  color: #333;
}

.footer-links {
  display: flex;
  gap: 15px;
}
.copy {
  color: gray;
  font-size: 12px;
  margin-top: 10px;
  
}
.copy-name {
  color: #89C1EB;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.footer-links a:hover {
  color: #0072c6;
}

.social-media {
  
  display: flex;
  gap: 15px;
  align-items: center;
}
.social-media i {
  
  font-size: 18px;
  cursor: pointer;
  color: #686868;
}



.social-icon:hover {
  color: #0072c6;
}

/*evnet page*/
.event-page {
  min-width:1440px;
  width: 100%;    
  padding: 50px 20px;
  
  margin: 0 auto;
  box-sizing: border-box;  
}
.event-page > h2 {
  margin: 100px 0 100px 0;
  text-align: center;
  font-weight: 800;
  font-size: 35px;
}
.event-page p {
  text-align: center;
  margin-bottom: 20px;
}
.event-tab {
  min-width: 1440px;
  width: 100px;
  margin: auto;
}
.event-tab hr {
  margin-bottom: 100px;  
}
.notice-event {
  display: flex;
  justify-content: space-between;
  
}
.event-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
}
.event-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 20px;
}
.event-card h2 {
  font-size: 16px;
  font-weight: 500;  
}
.event-card h3 {
  font-size: 14px;
  color: #555;
  font-weight: 500; 
  margin-top: 15px;
}

/* cursor-effect */
.cursor_effect {
  width: 3rem;
  /*root요소의 기본값의 배수 1rem = 16px*/
  height: 3rem;
  position: fixed;
  pointer-events: none;
  /*해당 요소가 클릭되지 않도록*/
  z-index: 9999;
  top: 0;
  left: 0;
  /*다른요소 보다 위에 위치해 있어야 하므로 설정*/
  /* 커서 이펙트가 마우스커서를 쫓아올때 자연스러운 애니메이션 효과를 주기위해 transition의 
  가속도를cubic-bezier로 설정 */
  transition: transform 0.1s cubic-bezier(.24, .79, .56, .89)
}

/* 커서 이펙트를 감싸는 요소로 마우스 커서가 이펙트의 중심에 오도록 설정 */
.cursor_effect>.cursor_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  transform: translate(-50%, -50%);
}

/* 실제 커서 이펙트가 표시될 요소 */
.cursor_effect .cursor_icon {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #a3ccf8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s, width 0.3s, height 0.3s;
}

/* 커서 이펙트에 on클래스가 추가되면 이펙트의 크기를 변경 */
.cursor_effect.on .cursor_icon {
  width: 200%;
  height: 200%;
  box-shadow: 0 0 10px #2467af;
}

/* 마우스버튼을 눌렀을때 이펙트가 작아지는 효과 적용 */
.cursor_effect .cursor_icon.active {
  transform: translate(-50%, -50%) scale(0.6);
}